@media  (min-width: 800px) {
    main {
        margin: 0 20% 0 20%;
        
    }
    .bigTop{
        margin: 0 20% 0 20%;
    }
    .bottomBar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: fixed;
        top: 10rem;
        right: 12rem;
    }

}
