@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
  }
  

.topBar{
    height: 4rem;
    width: 100%;
    background:#3a0ca3;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    color: aliceblue;
    text-align: center;
    text-shadow: 2px 1px 0 black;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.banner{

    border: solid 1px gray;
    height: 12rem;
    width: 100%;
    
   
}

.img-banner{
    height: 12rem;
    width: 100%;
    background-size: cover; 
  
}

.bottomBar{

    height: 4rem;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 0;
}

.icones{
    height: 45px;
    color: blue;
}

.icones:hover{
    height: 52px;
    color: red;
    
}

main{
    margin: 10px 40px ;
}


h1{
    color: #3a0ca3;
    text-shadow: 2px 2px 30px ffffff;
    margin-bottom: 0.4rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

h2{
    color: #f72585;
    margin-bottom: 0.4rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

p{
    color: #464746;
    margin-bottom: 1rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}