@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color:rgb(250, 247, 244);
  }
  

.topBar{
    height: 4rem;
    width: 100%;
    background-image: ( bottom, red);

    background: linear-gradient(to right, #3A0CA3, #f72585);

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;


}


ul{
    display: flex;
    align-items: center;
    background-color: #FDFFFC;
    border: solid 1px gray;
    height: 3rem;
    box-shadow: 1px 1px 20px black;
    justify-content: space-around;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    text-shadow: 2px 1px 0 white;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    padding: 15px;
    cursor: pointer;
    color: #3A0CA3;
}



li:hover{
    color: #f72585;
    transition: 0.1s;
    background-color: rgb(240, 240, 240);
    border-radius: 50%;
}

span.title{
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 0 black;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.banner{
    margin-top: 1em;
    margin-bottom: 2em;
    border: solid 1px gray;
    height: 12rem;
    width: 100%;
    box-shadow: 1px 1px 20px black;
    background-image: url(/images/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    opacity: 0.2;
    position: relative;

    z-index: -1;
}

.block-hero{
    position: absolute;
    top: 10rem;
    left: 18rem;
    z-index: 1;
}

#hero-title{
    color: #3a0ca3;
    text-shadow: 2px 2px 30px ffffff;
    margin-bottom: 0.4rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

#hero-text{

    color: #330c8f;
    text-shadow: 1px 1px 1px white;
}

#hero-paragraph{
    color: #2f312f;
    margin-bottom: 1rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: large;

}

/*
.img-banner{
    height: 12rem;
    width: 100%;
    background-size: cover; 
}
*/

.bottomBar{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.icones{
    height: 45px;
    color: blue;
    opacity: 60%;
}

.icones:hover{
    height: 52px;
    color: red;
    
}

main{
    margin: 10px 40px ;
}


h2{
    color: #DC136C;
    margin-bottom: 0.4rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

p{
    color: #464746;
    margin-bottom: 1rem;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.images{
    height: 25rem;
    width: 50rem;
    min-width: 20%;
}

.allclasses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aulas {
    height: 8rem;
    width: 15rem;
    border: solid 2px red;
    border-radius: 4%;
}

.aulas:last-of-type{
    margin-bottom: 1rem;
}

.aulas:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*vizualização única das aulas*/

.aulas-view{
    height: 16rem;
    width: 20rem;
    border: solid 1px gray;
    border-radius: 4%;
}

.aulas-view iframe{
    height: 100%;
    max-width: 100%;
}

.write-version{
    height: 80vh;
    width: 20rem;
   
    border-radius: 4%;
}

.write-version iframe{
    height: 80%;
    width: 100%;
    border: none;
}

footer{
    text-align: center;
    color: white;
    height: 10rem;
    width: auto;
    background-color: #929982;
}

.unicIconFooter{
    height: 30px;
    width: 30px;
    opacity: 65%;
    margin: 1em 0.4em 0.3em 0.4em;
}

.unicIconFooter:hover{
  
    opacity: 80%;
    
}
